<div class="row">
  <div class="large-6 columns">
    <%= link_to "Home", root_path, :class => "button large secondary expand" %>
  </div>
  <div class="large-6 columns">
    <%= link_to "Back", :back, :class => "button large secondary expand" %>
  </div>
</div>
